
/site/*

# .devcontainer
.devcontainer/
.devcontainer.json

# VoltScript
core
vses
libs/VoltScriptTesting.vss
libs/VoltScriptLogging.vss
*_UNMERGED.vss
/unit-test-reports/*/
test/unit-test-reports/

# effective-atlas.json
effective-atlas.json 

